{% extends "root.html" %}

{% block extra_head %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.css"
      integrity="sha256-fjKCwdf+fsFNnRRFfKZIznHEygdh6vtEJqVg8Eu3Kuw="
      crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.js"
	integrity="sha256-Gox75luuxLxNYWsoO+2sGVMYOUcheq0zhGEB2310fuw=" crossorigin="anonymous"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css"
      integrity="sha384-L/SNYu0HM7XECWBeshTGLluQO9uVI1tvkCtunuoUbCHHoTH76cDyXty69Bb9I0qZ"
      crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.js"
	integrity="sha384-ad+n9lzhJjYgO67lARKETJH6WuQVDDlRfj81AJJSswMyMkXTD49wBj5EP004WOY6"
	crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
	integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
{% endblock %}


{% block body %}
<div class="ui massive left sidebar vertical menu" id="equations_sidebar">
  <a class="ui centered medium image item"
     href="/{{ layer }}/linear/">
    <img src="/static/linear_icon.png">
  </a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/lineal_decreciente/">
    <img src="/static/lineal_decreciente_icon.png">
  </a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/logistic/">
    <img src="/static/logistic_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/logistica_invertida/">
    <img src="/static/logistica_invertida_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/gaussian/">
    <img src="/static/gaussian_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/campana_invertida/">
    <img src="/static/campana_invertida_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/concava_decreciente/">
    <img src="/static/concava_decreciente_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/concava_creciente/">
    <img src="/static/concava_creciente_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/convexa_decreciente/">
    <img src="/static/convexa_decreciente_icon.png"></a>
  <a class="ui centered medium image item"
     href="/{{ layer }}/convexa_creciente/">
    <img src="/static/convexa_creciente_icon.png"></a>
</div>

<div class="ui massive right sidebar vertical menu" id="layers_sidebar">
  {% for layer in layers %}
  <a class="massive item"
     href="/{{ layer.name }}/linear/">{{ layer.name }}</a>
  {% endfor %}
</div>

<div class="ui top massive fixed menu">
  <a class="massive item"  onclick="$('#equations_sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
    <i class="content big layout icon"></i>
  </a>
  <div class="massive item">
    {{ function_name }}
  </div>

  <script>
    function download_json() {
    host = window.location.host;
    href = window.location.href;
    href = href.replace(host, host + "/json");
    document.getElementById("dwjson").href=href;
    }
    function take_me_home(){
        document.getElementById("home").href=window.location.origin;
    }
  </script>


  <a id="dwjson" class="item" href="#" onClick="download_json()">
    <i class="save big layout icon"></i>
  </a>

  <div class="massive item">
  <div class="ui toggle checkbox">
    <input type="checkbox"
	   onClick="show_map = 'True';
		    sync_plot();
		    window.history.go();">
    <label>mapa</label>
  </div>
  </div>
  <a id="home" class="item" href="#" onClick="take_me_home()">
     <i class="home big layout icon"></i>
  </a>
  <div class="right massive item">
    {{ layer }}
  </div>
  <a class="item"  onclick="set_categories();">
    <img src="/static/categories.png">
  </a>
  <a class="item"  onclick="set_continous();">
    <img src="/static/continous.png">
  </a>
  <a class="item"  onclick="$('#layers_sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
    <i class="content big layout icon"></i>
  </a>
</div>





<div class="pusher" style="height: 100%;">
  <div class="ui two column stackable grid" style="margin-top: 4em; margin-left: 0.5em; height: 100%;">
    <div class="five wide column">
      <div class="ui clearing segment">
	{% block form %}
	{% endblock %}
      </div>
    </div>

    <div class="eleven wide column">
      <div class="ui segment">
	{% block plot %}
	{% endblock %}
      </div>
    </div>
  </div>
</div>
<!-- <script src="/static/map_setup.js"></script> -->
<script src="/static/arrows_functions.js"></script>
{% block scripts %}
{% endblock %}

{% endblock %}
