{% extends 'base.html' %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
    <label>gama</label>
    <div class="ui left icon input">
      <input placeholder="0.25" id="gama" value="0.25" onchange="sync_gama_slider(); sync_plot();">
    </div>
    <div id="gama_slider" style="margin-top: 1em;"></div>
  </div>
  
  
  
  <div class="ui blue primary button" onclick="apply_concava_decreciente(); concava_decreciente_plot(); update_equation();">Plot</div>
</div>
{% endblock %}


{% block plot %}
<img src="/concava_decreciente/plot/" id="plot" width="100%" >
{% endblock %}



{% block scripts %}
<script src="/static/concava_decreciente.js" layer_url="{{ layer_url }}"></script>
{% endblock %}
