{% extends 'base.html' %}

{% block form %}
<div class="ui fluid form" id="args">
  <label>a</label>
  <div id="a_slider" style="margin-top: 1em; margin-bottom: 1em;"></div>
  
  <div class="ui five column grid" style="margin-top: 2em; margin-left: 3em;"> 
      <div class="two wide column">
         <div class="ui big right floated button" onclick="fbackward('#a_slider', sync_a_slider);">&lt;&lt;</div>
      </div> 
      <div class="two wide column">
         <div class="ui big right floated button" onclick="backward('#a_slider', sync_a_slider);">&lt;</div>
      </div> 
      <div class="six wide column">
         <div class="ui big input" style="width:100%">
            	<input placeholder="1" id="a" value="1" onchange="sync_a_slider(); sync_plot();">
          </div>
      </div> 
      <div class="two wide column">
         <div class="ui big button" onclick="forward('#a_slider', sync_a_slider);">&gt;</div>
      </div> 
      <div class="two wide column">
         <div class="ui big button" onclick="fforward('#a_slider', sync_a_slider);">&gt;&gt;</div>
      </div> 
  </div>  
  <label>center</label>
  <div id="center_slider" style="margin-top: 1em; margin-bottom: 1em;"></div>
  
  <div class="ui five column grid" style="margin-top: 2em; margin-left: 3em;"> 
      <div class="two wide column">
         <div class="ui big right floated button" onclick="fbackward('#center_slider', sync_center_slider);">&lt;&lt;</div>
      </div> 
      <div class="two wide column">
         <div class="ui big right floated button" onclick="backward('#center_slider', sync_center_slider);">&lt;</div>
      </div> 
      <div class="six wide column">
         <div class="ui big input" style="width:100%">
            	<input placeholder="1" id="center" value="1" onchange="sync_center_slider(); sync_plot();">
          </div>
      </div> 
      <div class="two wide column">
         <div class="ui big button" onclick="forward('#center_slider', sync_center_slider);">&gt;</div>
      </div> 
      <div class="two wide column">
         <div class="ui big button" onclick="fforward('#center_slider', sync_center_slider);">&gt;&gt;</div>
      </div> 
  </div>  

  


</div>
{% endblock %}


{% block plot %}
<img src="/gaussian/plot/" id="plot" width="100%" >
{% endblock %}



{% block scripts %}
<script src="/static/gaussian.js" layer_url="{{ layer_url }}"></script>
{% endblock %}
