{% extends 'base.html' %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
    <label>a</label>
    <div class="ui left icon input">
      <input placeholder="1" id="a" value="1"
	     onchange="sync_a_slider(); sync_plot();">
    </div>
    <div id="a_slider" style="margin-top: 1em;"></div>
  </div>


  <div class="field">
    <label>center</label>
    <div class="ui left icon input">
      <input placeholder="2600" type="number" id="center" value="2600">
    </div>
    <div id="center_slider" style="margin-top: 1em;"></div>
  </div>
  <div class="ui blue primary button" onclick="apply_gaussian(); gaussian_plot(); update_equation();">Plot</div>
</div>
{% endblock %}


{% block plot %}
<img src="/gaussian/plot/" id="plot" width="100%" >
{% endblock %}



{% block scripts %}
<script src="/static/gaussian.js" layer_url="{{ layer_url }}"></script>
{% endblock %}
