{% extends 'base.html' %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
    <label>a</label>
    <div class="ui left icon input">
      <input placeholder="1" id="a" value="1">
    </div>
  </div>
  
  
  <div class="field">
    <label>center</label>
    <div class="ui left icon input">
      <input placeholder="2600" type="number" id="center" value="2600">
    </div>
  </div>
  <div class="ui blue primary button" onclick="apply_gaussian(); gaussian_plot();">Plot</div>
</div>
{% endblock %}


{% block plot %}
<img src="/gaussian/plot/" id="plot" width="100%" >
{% endblock %}



{% block scripts %}
<script src="/static/gaussian.js"></script>
{% endblock %}
