{% if show_map == 'True' %}
{% extends 'base_map.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
  <center><label><font size="5">Pendiente</font></label></center>

    <div class="ui big input" style="width:100%">
      <input placeholder="1" id="m" value="{{ m }}">
    </div>
  </div>

  <div class="field">
    <center><label><font size="5">Ordenada al origen</font></label></center>
    <div class="ui big input" style="width:100%">
      <input placeholder="0.0" id="b" value="{{ b }}">
    </div>
  </div>

</div>
{% endblock %}


{% block plot %}
<img src="/linear/plot/" id="plot" width="100%" >
{% endblock %}


{% block scripts %}
<script src="/static/map_setup.js" layer_url="{{ layer_url }}" layer_field="{{ layer_field }}" show_map="{{ show_map }}"></script>

<script src="/static/linear.js" layer_url="{{ layer_url }}" layer_field="{{ layer_field }}" show_map="{{ show_map }}"></script>
{% endblock %}
