{% extends 'base.html' %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
    <label>m</label>
    <div class="ui left icon input">
      <input placeholder="1" id="m" value="{{ m }}">
    </div>
  </div>
  
  <div class="field">
    <label>b</label>
    <div class="ui left icon input">
      <input placeholder="0.0" id="b" value="{{ b }}">
    </div>
  </div>
  <div class="ui blue primary button" onclick="apply_lineal_decreciente(); lineal_decreciente_plot(); update_equation();">Plot</div>
</div>
{% endblock %}


{% block plot %}
<img src="/lineal_decreciente/plot/" id="plot" width="100%" >
{% endblock %}


{% block scripts %}
<script src="/static/lineal_decreciente.js" layer_url="{{ layer_url }}"></script>
{% endblock %}
