{% extends 'base.html' %}

{% block form %}
<div class="ui form" id="args">
  <div class="field">
    <label>L</label>
    <div class="ui left icon input">
      <input placeholder="1" id="L" value="1">
    </div>
  </div>
  
  <div class="field">
    <label>k</label>
    <div class="ui left icon input">
      <input placeholder="0.02" id="k" value="0.02" onchange="sync_k_slider(); sync_plot();">
    </div>
    <div id="k_slider" style="margin-top: 1em;"></div>
  </div>
  
  <div class="field">
    <label>center</label>
    <div class="ui left icon input">
      <input placeholder="2600" type="number" id="center" value="2600" onchange="sync_center_slider(); sync_plot();">
    </div>
    <div id="center_slider" style="margin-top: 1em;"></div>
  </div>
  <div class="ui blue primary button" onclick="apply_logistica_invertida(); logistica_invertida_plot(); update_equation();">Plot</div>
</div>
{% endblock %}


{% block plot %}
<img src="/logistica_invertida/plot/" id="plot" width="100%" >
{% endblock %}


{% block scripts %}
<script src="/static/logistica_invertida.js" layer_url="{{ layer_url }}"></script>
{% endblock %}
