{% extends "root.html" %}
{% block extra_head %}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.css"
      integrity="sha256-fjKCwdf+fsFNnRRFfKZIznHEygdh6vtEJqVg8Eu3Kuw="
      crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.js"
	integrity="sha256-Gox75luuxLxNYWsoO+2sGVMYOUcheq0zhGEB2310fuw=" crossorigin="anonymous"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css"
      integrity="sha384-L/SNYu0HM7XECWBeshTGLluQO9uVI1tvkCtunuoUbCHHoTH76cDyXty69Bb9I0qZ"
      crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.js"
	integrity="sha384-ad+n9lzhJjYgO67lARKETJH6WuQVDDlRfj81AJJSswMyMkXTD49wBj5EP004WOY6"
	crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
	integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    font-size: 23px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 23px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>


{% endblock %}
{% block body %}

<div class="pusher" style="height: 100%;">
<form action="." method="POST">
    <div class="ui two column stackable grid" style="margin-top: 1em; margin-left: 0.5em; height: 100%;">

        	<div class="nine wide column">


            <div class="ui segments">
                <div class="ui segment">
                  <div class="ui four column grid">
                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/linear_icon.png" onclick="preview('/static/linear_icon.png', 'Lineal', 'linear')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="linear" id="linear" checked="checked" onclick="handleClick('Lineal');"/>
                	    <label><font size="6">A1</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>


                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/logistic_icon.png" onclick="preview('/static/logistic_icon.png', 'Logística', 'logistic')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="logistic" id="logistic" onclick="handleClick('Logística');"/>
                	    <label><font size="6">A2</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/convexa_creciente_icon.png" onclick="preview('/static/convexa_creciente_icon.png', 'Convexa Creciente', 'convexa_creciente')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="convexa_creciente" id="convexa_creciente" onclick="handleClick('Convexa Creciente');"/>
                	    <label><font size="6">A3</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>


                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/concava_creciente_icon.png" onclick="preview('/static/concava_creciente_icon.png', 'Concava Creciente', 'concava_creciente')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="concava_creciente" id="concava_creciente" onclick="handleClick('Concava Creciente');"/>
                	    <label><font size="6">A4</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>


                  </div>
                </div>



                <div class="ui segment">

                  <div class="ui four column grid">

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/lineal_decreciente_icon.png" onclick="preview('/static/lineal_decreciente_icon.png', 'Lineal Decreciente', 'lineal_decreciente')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="lineal_decreciente" id="lineal_decreciente" onclick="handleClick('Lineal Decreciente');"/>
                	    <label><font size="6">D1</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/logistica_invertida_icon.png" onclick="preview('/static/logistica_invertida_icon.png', 'Logística Invertida', 'logistica_invertida')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="logistica_invertida" id="logistica_invertida" onclick="handleClick('Logística Invertida');"/>
                	    <label><font size="6">D2</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/convexa_decreciente_icon.png" onclick="preview('/static/convexa_decreciente_icon.png', 'Convexa Decreciente', 'convexa_decreciente')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="convexa_decreciente" id="convexa_decreciente" onclick="handleClick('Convexa Decreciente');"/>
                	    <label><font size="6">D3</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/concava_decreciente_icon.png" onclick="preview('/static/concava_decreciente_icon.png', 'Concava Decreciente', 'concava_decreciente')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="concava_decreciente" id="concava_decreciente" onclick="handleClick('Concava Decreciente');"/>
                	    <label><font size="6">D4</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="ui segment">
                  <div class="ui four column grid">

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/gaussian_icon.png" onclick="preview('/static/gaussian_icon.png', 'Campana', 'gaussian')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="gaussian" id="gaussian" onclick="handleClick('Campana');"/>
                	    <label><font size="6">N1</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                    <div class="column">
                      <div class="ui card">
                	<div class="image">
                	  <img src="/static/campana_invertida_icon.png" onclick="preview('/static/campana_invertida_icon.png', 'Campana Invertida', 'campana_invertida')">
                	</div>
                	<div class="content">
                	  <div class="ui radio checkbox">
                	    <input type="radio" name="function" value="campana_invertida" id="campana_invertida" onclick="handleClick('Campana Invertida');"/>
                	    <label><font size="6">N2</font></label>
                	  </div>
                	</div>
                      </div>
                    </div>

                  </div>
                </div>
             </div>
         </div>


    <div class="seven wide column">
        <div class="ui segment">
          <font size="4">

                        Capa:</br></br>
                        <select class="ui dropdown" id="layer" name="layer" onchange="grabLayer()">
                            {% for l in layers %}
                                <option value="{{ l.name }}">{{ l.name }}</option>
                            {% endfor %}
                        </select>

            </font>

        </div>
        <div class="ui segment">
          <font size="4">
            Campo:</br></br>
            <div class="eight wide column">
               <select id="fields" class="ui dropdown" onchange="displayField()"></select>
           </div>

            </font>

        </div>
         <div class="ui segment">
             <font size="4">
                Nombre:</br></br>
                <div class="ui input" style="width:100%">
                		<input placeholder="nombre" id="nombre" name="nombre" value="">
                </div>
             </font>
        </div>
         <div class="ui segment" >
            <div id="rango_segment">
            <font size="4">
                Rango:</br></br>
                <label>Máximo</label>
                <div class="ui input">
                		<input placeholder="maximo" id="maximo" name="maximo" value="">
                </div>
                </br>
                <label>Mínimo</label>
                <div class="ui input">
                		<input placeholder="minimo" id="minimo" name="minimo" value="">
                </div>
            </font>
            </div>
        </div>

        <div class="ui segment" >
            <div id="eq_segment">
            <font size="4">
                Función:</br></br>
                <label></label>
            </font>
            </div>
        </div>


        <div class="ui segment">
         <button class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            continuar
          </button>
        </div>


    </div>
  </form>
  <form action="/upload/" method="post" enctype="multipart/form-data">
    <input type="file" name="file[]" multiple="multiple">
    <input type="submit" value="Upload">
  </form>

</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script>
function preview(src, name, id){
    var eq_segment = document.getElementById("eq_segment");
    eq_segment.innerHTML = '<font size="4">Función:</br></br><label>'+name+'</label></font>';
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    modal.style.display = "block";
    modalImg.src = src;
    captionText.innerHTML = name;
    var eq = document.getElementById(id);
    eq.checked= "checked";


}

var modal = document.getElementById('myModal');
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";

}

function handleClick(esta) {
    var eq_segment = document.getElementById("eq_segment");
    eq_segment.innerHTML = '<font size="4">Función:</br></br><label>'+esta+'</label></font>';

}
function get_features(url) {
    var data_layer = {};

    $.ajax({
	url: url,
	async: false,
	dataType: 'json',
	success: function(data) {
	    data_layer = data;
	}
    });
    var format_data_layer = new ol.format.GeoJSON();
    var features = format_data_layer.readFeatures(data_layer,
						  {dataProjection: 'EPSG:4326',
						   featureProjection: 'EPSG:3857'});

    return features;
}

function grabLayer(){

    layer_name = document.getElementById("layer").value

    if (layer_name == "Sin Capa"){
        document.getElementById("nombre").value="";
        max = "";
        min = "";
    }else{

        layer_url="/static/layers/"+ layer_name +".json";
        jsonSource_data_layer = new ol.source.Vector();
        jsonSource_data_layer.addFeatures(get_features(layer_url));
        var fields = Object.keys(jsonSource_data_layer.getFeatures()[0].getProperties());
        var select = document.getElementById( 'fields' );

        for( field in fields ) {
            if (fields[field] != "geometry"){
                select.add( new Option( fields[field] ) );
            }


        };
        // var max = -100000000, min = 100000000;
        // jsonSource_data_layer.getFeatures().forEach(function(feature){
        //     	max = Math.max(max, feature.get("value"));
        //     	min = Math.min(min, feature.get("value"));
        // });
    }
    //
    // document.getElementById("maximo").value=max;
    // document.getElementById("minimo").value=min;



};

function displayField(){

    layer_name = document.getElementById("layer").value

    var select = document.getElementById( 'fields' );
    selected_field = select.options[select.selectedIndex].value
    document.getElementById("nombre").value = layer_name + ":" + selected_field;
    range = get_range(selected_field);
    //document.getElementById("nombre").value=layer_name;
    document.getElementById("maximo").value=range['max'];
    document.getElementById("minimo").value=range['min'];


};
function get_range(field) {

    var max = -100000000, min = 100000000;
    jsonSource_data_layer.getFeatures().forEach(function(feature){
	max = Math.max(max, feature.get(field));
	min = Math.min(min, feature.get(field));
    });

    return {'max': max,
	    'min': min}
};
</script>

{% endblock %}
